@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<p>Owner of the site: <strong>@ViewData["Owner"].</strong></p>

<address>
    <strong>...</strong>
</address>
